@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
:root {
    --car-header: 240px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(229,229,229);
}

.container {
    display: grid;
    justify-content: center;
    align-content: center;
    max-width: 1920px;
    height: 100vh;
    width: 100%;
    margin-inline: auto;
}


.cards {
    display: flex;
    justify-content: space-evenly;
} 
.card {
 background: #fff;
 border-radius: 14px;
}
.card-header {
    position: relative;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding: 2rem;
    background-color: rgb(125, 151, 248);
    color: #fff;
    text-align: center;
}
.card-header #name {
    margin: 50px 0px 16px;
    font-size: 1.5rem;
    font-weight: 300;
}

.card-image {
    position: absolute;
    top: 0;
    left: 33%;
    transform: translate(0%, -50%);
    width: 130px;
    height: 130px;
    border: 5px solid #fff;
    border-radius: 70px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.card-body {
    padding: 1.5rem 3rem;
}
.card-body ul li {
    margin: 8px 0px;
    font-size: 1.1rem;
}
.footer-card {
    text-align: center;
    padding: 1rem 2rem;
    color: lightgray;
    font-weight: 700;
    font-size: 1.25rem;
}
